@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

:root{
    ---blue: rgb(2, 2, 31);
}

.bg-blue{
    background-color: var(---blue);
}
.text-blue{
    color: var(---blue);
}
.text-small{
    font-size: 12px;
    letter-spacing: 1.5px;
}


.animate-bounce-x{
    animation: animate-bounce-x 2s ease-in-out infinite;
}

@keyframes animate-bounce-x{
    0%, 100% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
}


